*{
    margin: 0;
    padding: 0;
}


:root {
    --bulma-primary-h: 102deg;
    --bulma-primary-l: 34%;
    --bulma-info-h: 217deg;
    --bulma-info-s: 40%;
    --bulma-info-l: 15%;
    --bulma-success-h: 339deg;
    --bulma-success-s: 80%;
    --bulma-danger-l: 56%;
    --bulma-body-background-color: hsl(0, 0%, 98%);
}
  

.container{
    padding-top: 2%;
    margin: auto;
}  
.map{
    margin: auto;
    max-width: 690px;
    max-height:690px;
    border: solid 3px #23d160;
}

#searchInput{
    text-align: center;
    font-size: large;
}

#scoreimg{
    max-width: 50px;
    
}
.score{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.joker img{
    width: 100px;
    cursor: pointer;
    border: solid #23d160 4px;
    border-radius: 50%;

}


.result-item{
    text-align: center;
    color: black;
    font-size: larger;
    font-weight: 200;
    border: solid rgb(85, 85, 85) 1px;
    border-radius: 20px;
    padding: 1%;
}

.result-item strong{
    color: black;
}

#results{
    cursor: pointer;
}

#questionscore{
    display: inline-flex;
}

#totalIcon{
    display: inline-flex;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: 75px;
    
}
#logo{
    margin: auto;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2%;
}

.card{
    background-color: rgb(255, 255, 255);
    border: #23d160 solid 2px;
    border-radius: 15px;
    margin-top: 5%;
}
.card h5{
    text-align: center;
    color: black;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card input{
    background-color: aliceblue;
    color: black;
    text-align: center;
}
.section img{
    border: solid 2px #23d160;
    border-radius: 50%;
}
.section p{
    text-align: center;
}

#high-score{
    width: 150px;
    margin: auto;
    justify-content: center;
    display: flex;
    
}

.my-cancel-button {
    background-color: #28a745 !important; /* yeşil */
    color: white !important;
  }
  
  .my-confirm-button {
    background-color: #ffb10a !important; /* kırmızı */
    color: white !important;
  }
  
#github{
    color: #23d160;
}



@media screen and (max-width: 768px) {
    #totalScore {
        white-space: nowrap;
        padding-right: 2%;
      }

      #scoreimg, #totalIcon {
        width: 30px;
        height: 30px;
      }
}

.badge {
    background-color: transparent;
    border: solid 1px rgb(137, 132, 132);
    color: rgb(137, 132, 132);
    padding: 4px 8px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    
    
  }